body {
  margin: 0;
  padding: 0;
  font-family: Serif;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 2% 5%;
}

td{
  text-align: center;
  padding: 1% 2%;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(2n) {
  background-color: #f2f2f2;
}

th {
  background-color: #4CAF50;
  color: white;
  font-size: larger;
  padding: 1% 1%;
}

input {
  border: none;
  border-bottom: 2px solid #4CAF50;
  margin: 1% 2%;
  padding: 0.5% 2%;

}

input:last-child {
  border: none;
  padding: 1% 3%;
  background-color: #f2f2f2;
}

.addUser, .editUser {
  margin: 2% 5%;
}

.error-message{
  color:red;
  font-size: 12px;
}